<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="https://avatars.githubusercontent.com/u/100518426?s=400&u=1e5a45bdc2b2eb3933ee8266031e616d5a99bc12&v=4" width="50" height="50" alt="logo">
    {{ title }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Search User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/organization">Search Organization</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card text-center" style="margin-top: 20px">
        <div class="card-body">
          <a routerLink="user" class="btn btn-primary">Search User</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card text-center" style="margin-top: 20px">
        <div class="card-body">
          <a routerLink="organization" class="btn btn-primary">Search Organisation</a>
        </div>
      </div>
    </div>
  </div>
</div>



